<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/create.css') }}">

</head>

<body>
    <form method="post" name="myform" action="/professeurs/professeurs/submit">
        <div>

                <div>
                    <label for="Nom">Votre nom :</label>
                    <input type="text" name="nom" id="Nom" size="20px" value="" placeholder="Entrer votre nom" required />
                    <!--required-->
                </div>
                <div>
                    <label for="Prenom">Votre prenom :</label>
                    <input type="text" name="prenom" id="Prenom" size="20px" value="" placeholder="Entrer votre prenom"  required/>
                    <!--required-->
                </div>
                <div>
                    <label for="Password">Votre mot de passe :</label>
                    <input type="password" name="password" id="Password"   size=" 20px"  value="" placeholder="Entrer votre mot de passe" />

                </div>

                <div>
                    <label for="email">email :</label>
                    <input type="email" name="email" id="email"   size=" 20px"  value="" placeholder="Entrer votre email" />

                </div>




            <input type="submit" value="Envoyer"  />

        </div>
    </form>


</body>

</html>
